.navbar{
	background: #EAE5E5;
}
.header-left-box{
	width: 100%;
	margin-right:140px;
	float: left;
	
}

.rahib{
	display:inline-block!important;
	letter-spacing: 0em;
	 font: normal normal bold 43px/1.2em 'Noticia Text',serif;
    color: #4D4D4D;
   margin-right: 100px;
}
	
.nav-item{
	margin-right: 30px;
}


.developer{
	
	color:#4D4D4D;
}

.hoverblue{
	transition-duration:0.8s;
	font-weight:bold;
	font-size:13px;
	margin-right: 15px;
}


.hoverblue:hover{
	color: #61D0D7!important;
}


.homeActive{
	color: #61D0D7!important;

}


.resumeActive{
	color: #61D0D7!important;
	
}

.projectsActive{
	color: #61D0D7!important;
	
}

.contactActive{
	color: #61D0D7!important;
}